@{
    ViewData["Title"] = "Home Page";
}

<div class="form-page">
    <div class="col-12">
        <div class="row" id="container">

        </div>
        <div class="items">
            <a href="/edit" class="btn btn-warning">ویرایش</a>
        </div>
    </div>

</div>

<script>

    fetch('https://jsonplaceholder.typicode.com/users')
        .then(response => response.json())
        .then(data => getdata(data))
                      
    function getdata(data) {        
        data.forEach(function (val, index) {         
            var items = '<div class="items col-6"><label class="label">نام</label><span class="colon">:</span><label class="label" >' + val.name + '</label></div><div class="items col-6"><label class="label"> نام خانوادگی </label><span class="colon">:</span><label class="label">' + val.username +'</label></div>',
                div = document.getElementById( 'container' );
                div.insertAdjacentHTML( 'beforeend', items );            
        })
    }

</script>