@{
    ViewData["Title"] = "Home Page";
}

<div class="form-page">
    <div class="col-12">
        <div class="row">
            <form action="/" method="post">
                <div class="items">
                    <label class="label">نام</label>
                    <span class="colon">:</span>
                    <label class="label"></label>
                    <input type="text" name="name" value="" />
                </div>
                <div class="items">
                    <label class="label"> نام خانوادگی </label>
                    <span class="colon">:</span>
                    <label class="label"></label>
                    <input type="text" name="family" value="" />
                </div>               
                <div class="items">
                    <button class="btn btn-warning">ویرایش</button>
                    <button class="btn btn-success">ذخیره</button>                    
                </div>
            </form>
        </div>
    </div>
    
</div>

<script>

</script>