@{
    ViewData["Title"] = "Home Page";
}

<div class="form-page">
    <div class="col-12">
        <div class="row">
            <div class="persons">
                <div class="items">
                    <label class="label">نام</label>
                    <span class="colon">:</span>
                    <label class="label" id="name"></label>
                </div>
                <div class="items">
                    <label class="label"> نام خانوادگی </label>
                    <span class="colon">:</span>
                    <label class="label" id="family"></label>
                </div>
                <div class="items">
                    <a href="/edit" class="btn btn-warning">ویرایش</a>
                </div>
            </div>            
        </div>
    </div>

</div>

<script>
    function createNode(element) {
        return document.createElement(element);
    }
    function append(parent, el) {
        return parent.appendChild(el);
    }
    const items = document.getElementById('items');
    const url = 'https://jsonplaceholder.typicode.com/users';

    // Get all users
    fetch(url)
        .then(response => response.json())
        .then(function (data) {
            let items = data;
            return person.map(function (person) {
                let label = createNode('label');
                label.innertHTML = `${person.name.first} ${person.name.last}`
            })
        })
</script>